{% extends "doctorparent.html" %}
{% block body %}
<div class="row">
    <div class="col-sm-12">
        <h1 style="text-align:center;">View your Profile</h1>
        <form method="post" class="form-group">
            {% csrf_token %}
            <table class="table text-light" style="width:60%;margin:auto">
                <tr>
                    <td> First Name</td>
                    <td>
                        <input type="text" name="firstname" value="{{doctorreg.firstname}}" class="form-control text-light" />
                    </td>
                </tr>
                <tr>
                    <td> Last Name</td>
                    <td>
                        <input type="text" name="lastname" value="{{doctorreg.lastname}}" class="form-control text-light" />
                    </td>
                </tr>
                <tr>
                    <td>Email Address</td>
                    <td>
                        <input type="email" name="emailaddress" value="{{doctorreg.emailaddress}}"
                            class="form-control text-dark" readonly />
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="text" name="password" value="{{doctorreg.password}}" class="form-control text-light" />
                    </td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td style="background-color: transparent;"><input type="text" name="state" placeholder="State"
                            class="form-control" value="{{doctorreg.state}}">
                    </td>
                    <td style="background-color: transparent;"><input type="text" name="city" placeholder="City"
                            class="form-control" value="{{doctorreg.city}}">
                    </td>
                    <td style="background-color: transparent;"><input type="text" name="pincode" placeholder="Pincode"
                            class="form-control" value="{{doctorreg.pincode}}">
                    </td>
                </tr>

            </table>
        </form>
    </div>
</div>
{% endblock body %}