{% extends "doctorparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Add Blog</h1>  
            {% if msg %}
            <p style="color:white;text-align: center;">{{msg}}</p>
            {% endif %}
               <form class="form-group" method="post" enctype="multipart/form-data">
                {%csrf_token %}
                <table class="table text-light" style="width: 60%;margin:auto;">
                <tr>
                    <td>Enter Title</td>
                    <td><input type="text" name="title" class="form-control text-light" required/></td>
                </tr>
                <tr>
                    <td>Enter Image</td>
                    <td><input type="file" name="image" class="form-control text-light" required/></td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td><select name="category" class="form-select">
                        <option selected>Select Category</option>
                        <option value="mentalhealth">Mental Health</option>
                        <option value="heartdisease">Heart Disease</option>
                        <option value="mentalhealth">Covid-19</option>
                        <option value="immunization">Immunization</option>
                        </select></td>
                </tr>
                <tr>
                    <td>Enter summary</td>
                    <td><textarea name="summary" id="summary" placeholder="write summary" class="form-control"></textarea></td>
                </tr>
                <tr>
                    <td>Enter content</td>
                    <td><textarea name="content" id="content" placeholder="Write content" class="form-control"></textarea></td>
                </tr>

                <tr>
                    <td></td>
                    <td><button type="submit"  class="btn btn-success">Post</td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit"  class="btn btn-primary">Save as Draft</td>
                </tr>
                </table>
              </form>
        </div>
    </div>
{% endblock body %}
